<div class="tc_page bg-light">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col-10 mx-auto">
            <h4 class="text-center mb-2 mt-3 ">Terms & Conditions</h4>
            <div class="ps-3">
                <p>1. Power Banks once configured cannot be withdrawn at any situations</p>
                <p>2. The validity of the power banks should not be greater than 3 months</p>
                <p>3. Details entered cannot be modified or changed</p>
                <p>4. Price declared cannot be changed in future even if the market value fluctuates</p>
                <p>5. All contracts are digital contracts enabled by Block chains</p>
            </div>
            
        </div>
    </div>
</div>