<div class="tc_page bg-light">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col-10 mx-auto">
            <h4 class="text-center mb-2 mt-3 ">Terms & Conditions</h4>
            <div class="ps-3">
                <p>1. Accepting the PPA requested is fully owing to the Generator's decision.</p>
                <p>2. The validity of a PPA should not be less than 3 months.</p>
                <p>3. Details entered cannot be modified or changed. Any changes required should be subjected to closing of the PPA and raising a new PPA request.</p>
                <p>4. Price negotiation is not possible within the platform.</p>
                <p>5. All contracts are digital contracts enabled by Block chains.</p>
            </div>
            
        </div>
    </div>
</div>