.navbar {
    background-color: darkblue;

    a {
        color: white;
    }
}
.notify{
    position: relative;
    #warning{
        position: absolute;
        right: 0;
        top: 0;
    }
}