<div class="modal fade bd-example-modal-lg" id="ModalSell" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
    <div class="navbar modal-header">
    <h4  style="text-align:center;color: #fff;">Configuring My Unused Power Bank
    </h4>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" style="color: #fff;">&times;</span>
      </button>
    </div>
    <table>
        <tr>
            <th>Number of Power Banks</th>
            <td><input class="arrows" type="number" name="points" step=""></td>
        </tr>
        <tr>
            <th>Capacity of Power Bank</th>
            <td><input type="number"></td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>Price per kw</th>
            <td><input type="number"></td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>Cost of Power Bank</th>
            <td><input type="number"></td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>Timeline</th>
            <td><input type="text"></td>
        </tr>
    </table>
    <div class="modal-footer">
        <button type="button" class="btn" style="background-color: #3d5fc6;color:#fff" data-bs-dismiss="modal">Configure</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
</div>
</div>
</div>