.modal-content{
    border: 2px solid #3d5fc6;

}
.navbar{
    background-color: #3d5fc6;
   width: 100%;
}
.arrows::-webkit-inner-spin-button {
    /* -webkit-appearance: none !important; */
    opacity: 1 !important;
    background: transparent !important;
    border-width: 0px;
    margin: 0;
    border-left: 1px solid #d8d8d8;
    height: 34px;
    width: 23px;
    cursor: pointer;
  }
  table{
    margin: 10px;
  }
  th{
    width: 50%;
  }
td{
    padding: 10px 20px;
}