<!-- <app-navbar></app-navbar> -->
<div class="body">
  <div class="container mx-auto">
    <div class="row">
      <div class="col-6 mt-5">
        <p class="title_text">Welcome To <br>POWER BANK ON CLOUD <br> <span id="subtitle"> One-stop solution driving sustainability across utility consumers</span></p>
      </div>
      <div class="col-6 p-5">
        <div class="row justify-content-center cards-btn mb-4">
          <div class="col-5 route" style="background-color: darkblue;"   routerLink="/login">
            <div class="img_place_ut img_place">

            </div>
            <h1>Utility</h1>
          </div>
          <div class="col-5 route ms-4" routerLink="/login" style="background-color: darkblue;">
            <div class="img_place_gen img_place">
              
            </div>
            <h1>Generator</h1>
            <!-- <img src="../../assets/images/pay now.png" width="120px" class="d-block mx-auto" alt=""> -->
            
          </div>
        </div>
        <div class="row justify-content-center cards-btn">
          <div class="col-5 route" style="background-color: darkblue;" routerLink="/login">
            <div class="img_place_con img_place">
              
            </div>
            <h1>Consumer</h1>

          </div>
          <div class="col-5 route ms-4" style="background-color: darkblue;" routerLink="/login">
            <div class="img_place_ret img_place">
              
            </div>
            <h1>Retailer</h1>

          </div>
        </div>

      </div>
      <div>
        
      </div>
    </div>
    

  </div>
</div>