<div class="row">
    <div class="col">
        <h5 class="text-center heading">Current Market</h5>
        <table class="table table-borderless table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col">Power Banks</th>
                    <th scope="col">Growth</th>
                    <th scope="col">Price Per kW</th>
                </tr>
            </thead>
            <tbody class="inExcecution">
                <tr *ngFor="let each of executionArray;let i=index" class="text-center">
                    <td>{{each.powerbanks}}</td>
                    <td>{{each.growth}}
                        <img *ngIf="each.growth>=0.015" src="../../../assets/images/up-arrows.png" alt="" width="15px">
                        <img *ngIf="each.growth<0.015" src="../../../assets/images/down-arrows.png" alt="" width="15px">
                    </td>
                    <td>{{each.pricePerkw | currency:'USD'}}</td>
                </tr>
                

            </tbody>
        </table>
        <div class="page-btn w-100 d-flex justify-content-end">
            <pagination class="my-pagination" [totalItems]="utilityMarket.length" [directionLinks]="false"
                    (pageChanged)="showMoreInExecution($event)" [itemsPerPage]="3"></pagination>
        </div>
    </div>
</div>