#createPPA{
    .modal-body{
        // background-color: #d6d6d6;
    }
    .btn-close{
        border: 1px solid red;
        background-color: white;
        color: red;
    }
}
.card{
    border-radius: 0;
}
.heading{
    background-color: darkblue;
    color: rgb(255, 255, 255);
    padding: 0.3rem 0.8rem;
    margin-left: 150px;
    // width: 80%;
}